body{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
"wdth" 100,
    "YTLC" 500;
}

h1{
    color: rgb(140, 140, 224)
}

h2{
color: rgba(133, 133, 220, 0.848);
}

h3{
    color:rgba(148, 142, 234, 0.721);
}

li{
    color:rgba(127, 107, 209, 0.788);
}

a { 
    color:rgb(174, 153, 241)
}
body{
    background-image: url("Assets/board.png");
    background-size: cover;
}