body{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
"wdth" 100,
    "YTLC" 500;
}

h1{
color: rgba(61, 34, 94, 0.614);
}

h2{
color: rgba(47, 47, 108, 0.528);
}

h3{
    color:rgba(98, 68, 127, 0.511);
}

li{
    color:rgba(97, 61, 131, 0.788);
}
